<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=dev.vital.dsg.internal;Initial Catalog=devsotcsdb;uid=sa;password=!2EZ4u&amp;me;Min Pool Size=5; Max Pool Size=20" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="otcsURL" value="http://dev.vital.dsg.internal/OTCS/cs.exe/api/v1/"/>
    <add key="otcsUser" value="otadmin@otds.admin"/>
    <add key="otcsPassword" value="Livelink#CS16"/>
    <add key="CSV_SOURCE_FOLDER" value="21421201"/>
    <add key="CSV_ARCHIVE_FOLDER" value="21421306"/>
    <add key="CSV_ERROR_FOLDER" value="21421651"/>
    <add key="WR_REMOVE_CLASS" value="21068477"/>
    <add key="ePfile_NRIC_FIN_CAT_ID" value="2020176"/>
    <add key="ePfile_WKSP_CAT_ID" value="1998517"/>
    <add key="ePfile_NRIC_FIN_CAT_Name" value="ePfile NRIC/FIN"/>
    <add key="ePfile_WKSP_CAT_Name" value="ePfile Workspace"/>
    <add key="ePfile_WKSP_NRIC_ATTR" value="Employee NRIC/FIN No"/>
    <add key="ePfile_WKSP_Name_ATTR" value="Employee NRIC/FIN Name"/>
    <add key="ePfile_WKSP_Agency_ATTR" value="Agency"/>
    <add key="ePfile_WKSP_DIV_STATUS_ATTR" value="Divisional Status"/>
    <add key="ePfile_WKSP_SOS_ATTR" value="Scheme of Service"/>
    <add key="ePfile_WKSP_STATUS_ATTR" value="Status"/>
    <add key="ePfile_WKSP_PENSION_ATTR" value="Pension Scheme"/>
    <add key="ePfile_WKSP_PERNNR_ATTR" value="Personnel Number (PERNR)"/>
    <add key="ePfile_WKSP_EXIT_DATE_ATTR" value="Exit Date"/>
    <add key="ePfile_WKSP_NEW_ID_EFFEC_DATE_ATTR" value="New ID Effective Date"/>
    <add key="ePfile_WKSP_OLD_ID_ATTR" value="Old ID"/>
    <add key="ePfile_WKSP_CURR_AGENCY_ATTR" value="Current Borrowing Agency"/>
    <add key="ePfile_WKSP_PREV_AGENCY_ATTR" value="Previous Borrowing Agency"/>
    <add key="ePfile_WKSP_PREV_OWNER_AGENCY_ATTR" value="Previous Owner Agency"/>
    <add key="EPFILE_WKSP_FOLDER_ID" value="93180"/>
    <add key="NON_HR_OFFICER_FOLDER_NAME" value="04 Non HR Officer"/>
    <add key="TE_FOLDER_NAME" value="Transferable ePfile"/>
    <add key="NTE_FOLDER_NAME" value="Non Transferable ePfile"/>
	
	  <!-- Commented by Ruchir - 13th July 2023 since this group is not required
	  <add key="CONFIG_PERM_NAME" value="DGS_POCs"/>
	  -->
	 <add key="CONFIG_PERM_NAME" value="DGS_{0}_POC"/>
	  
    <add key="PERM_PREFIX_1" value="iGEMS_ePfile_"/>
    <add key="PERM_SUFFIX_CONTRIBUTOR" value="_Contributor"/>
    <add key="PERM_SUFFIX_READ" value="_Read"/>
    <add key="PERM_NTE_ALIAS" value="_NTE"/>
    <add key="PERM_FUNC" value="Vital_"/>
    <add key="VITAL_GENERAL_CAT_ID" value="100797"/>
    <add key="VITAL_GENERAL_NRIC_ATTR" value="NRIC/ FIN"/>
    <add key="VITAL_GENERAL_PERNNR_ATTR" value="Personnel Number (PERNR)"/>

    <!-- Scenario Form Details -->
    <add key="APPOINTMENT_FORM_DETAILS" value="-2000|2584890|0|Z_ePfile_Appointment"/>
    <add key="EXIT_FORM_DETAILS" value="-2000|2584892|0|Z_ePfile_Exit"/>
    <add key="CHANGE_METADATA_FORM_DETAILS" value="-2000|2584895|0|Z_ePfile_MDChanges"/>
    <add key="CHANGE_ID_FORM_DETAILS" value="-2000|2584894|0|Z_ePfile_IDChange"/>
    <add key="SECONDMENT_FORM_DETAILS" value="-2000|2585551|0|Z_ePfile_Secondment"/>
    <add key="PERSONNEL_NUMBER_FORM_DETAILS" value="-2000|28364640|0|Z_NRIC_PERNR"/>
    
    <!-- Sets the SQL timeout in seconds, a value of 0 or if not set means SQL timeout=infinity -->
    <add key="SQL_TIMEOUT" value="0"/>
    <add key="SP_GET_CHILDREN" value="sp_getChildren"/>
    <add key="SP_GET_AGENCY" value="sp_getAgency"/>
    <add key="SP_GET_CLASSIFICATION" value="sp_getClassification"/>
    <add key="SP_GET_AGENCY_TEMPLATE" value="sp_getAgencyTemplate"/>
    <add key="GET_PENDING_SCENARIOS_SP" value="sp_getDGSAutomationProcesses"/>
    <add key="UPDATE_SCENARIOS_SP" value="sp_updateDGSAutomationScenario"/>
    <add key="TEMPLATE_VOL_ID" value="12192"/>
    <add key="CSV_DATE_FORMAT" value="d/M/yyyy"/>

	<add key="WR_Main_Appointment_Epfile_Creation_Status" value="258821473"/>
	<add key="WR_Main_IDChange_Change_Performed_Status" value="258821494"/>
	  
	  
	<!-- no longer used-->
    <!--<add key="WR_GET_INVALID_NRIC_DOCS" value="814066" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DGS_ACE_Processes.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Authentication"/>
        <binding name="BasicHttpBinding_MemberService"/>
        <binding name="BasicHttpBinding_DocumentManagement" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.vitaldev.delaware:80/cws/services/Authentication" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication" contract="AuthService.Authentication" name="BasicHttpBinding_Authentication"/>
      <endpoint address="http://dev.vitaldev.delaware:80/cws/services/MemberService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MemberService" contract="MemberService.MemberService" name="BasicHttpBinding_MemberService"/>
      <endpoint address="http://dev.vitaldev.delaware:80/cws/services/DocumentManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement" contract="DocManService.DocumentManagement" name="BasicHttpBinding_DocumentManagement"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
